@import "var.scss";

*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    // border: 1px solid red;
    font-family: $fontFamily1, $fontFamily2, $fontFamily3;

    @import "header.scss";

    @import "topBanner.scss";
    // @import "aboutus.scss";
    // @import "tours.scss";
    // @import "gallery.scss";
    // @import "contactus.scss";
    @import "footer.scss";

}
