@import "var.scss";

.tours{
    padding: 20px;
    text-align: center;
    h1{
        font-size: $h1FontSize;
    }
    .packages{

        @import "carousel.scss";
        .trip{

            .tripDetail{
                border: 2px solid #A3B1B8;
                padding: 3%;
                border-radius: 10px;
                img{
                    width: 100%;
                    height: 180px;
                    margin-bottom: 5px;
                }
                label{
                    width: 100%;
                    font-size: $h4FontSize;
                    text-align: center;
                    text-decoration: underline;
                }
                summary{
                    font-size: $pFontSize;
                    padding: 1%;
                }
                .readMore{
                    color: green;
                }
            }
        }
    }
}
