$primarybgColor:#fff;
$secondarybgColor:#fff;
$thirdbgColor:#fff;

$fontFamily1:"";
$fontFamily2:"";
$fontFamily3:"";

$primaryFontSize1:24px;
$secondaryFontSize2:20px;
$thirdFontSize3:18px;
$thirdFontSize4:16px;

$primarybgColor:#fff;
$secondarybgColor:#fff;
$thirdbgColor:#fff;

$primarybgColor:#fff;
$secondarybgColor:#fff;
$thirdbgColor:#fff;
