$primarybgColor:#fff;
$secondarybgColor:#fff;
$thirdbgColor:#fff;

$fontFamily1:"lato";
$fontFamily2:"sans-serif";
$fontFamily3:"tahoma";

$h1FontSize:24px;
$h2FontSize:22px;
$h3FontSize:20px;
$h4FontSize:18px;
$pFontSize:16px;
$pFontSize2:25px;

$countFontSize: 30px;

$primarybgColor:#fff;
$secondarybgColor:#000;
$thirdbgColor:#eee;

$primarybgColor:#fff;
$secondarybgColor:#fff;
$thirdbgColor:#fff;

$color1:#000;
