$primarybgColor:#fff;
$secondarybgColor:#fff;
$thirdbgColor:#fff;

$primaryFontSize1:#fff;
$secondaryFontSize2:#fff;
$thirdFontSize3:#fff;

$primarybgColor:#fff;
$secondarybgColor:#fff;
$thirdbgColor:#fff;

$primarybgColor:#fff;
$secondarybgColor:#fff;
$thirdbgColor:#fff;
